<div class="container-fluid">
  <div class="row card-deck">
    <div class="col-sm-12 col-md-6 col-lg-3 mb-5" *ngFor="let items of items">
      <app-item-info [foodItem]="items" (addToCartClicked)=" onAddToCartClick($event)"></app-item-info>
    </div>
    <!--Add new Item card-->
    <div class="col-sm-12 col-md-6 col-lg-3 mb-5" *ngIf="isAdmin">
      <div class="add-card card mt-3 text-center">
        <div class="card-header add-card-title">
          Add New Item
        </div>
        <div class="card-body">
          <i class="material-icons md-40">add_circle</i>
        </div>
      </div>
    </div>
  </div>
</div>
