.material-icons.md-36 {
	font-size: 35px;
	line-height: 1.5;
	vertical-align: middle;
}

.material-icons.other_icon {
	line-height: 1.75;
	vertical-align: middle;
}

.navbar_top {
	background-color: darkorange;
}

.navbar_bottom {
	background-color: darkorange;
	position: fixed;
	width: 100%;
	bottom: 0;
}

.badge-primary.delivery_badge {
	vertical-align: super;
}

.delete-icon {
	text-align: right;
}

.signup-btn {
	background-color: darkorange;
	color: white;
}

.add-card {
	color: #a0a0a0;
	min-height: 23.6rem;
	cursor: pointer;
}

.add-card :hover{
	opacity: 0.5;
}

.material-icons.md-40{
	font-size: 15rem;
	padding-top: 1.5rem;
}

.add-card-title{
	font-size: 30px;
}